* {
    padding: 0;
    margin: 10px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border-style: none;
    color: #fff;
}

body {
    background: linear-gradient(rgb(0 0 0), rgb(0 0 0), rgb(255 69 0));
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(255 255 255);
    font-family: 'consolas', sans-serif,  monospace;
    text-align: center;
}

.container {
}

.pay-btn {
    width: 80%;
    height: 30px;
    background-color: rgb(155 155 155);
    border-radius: 5px;
}

.pay {
    color: rgb(0 0 0);
    background-color: rgb(255 69 0);
    height: 40px;
    width: 100px;
    border-radius: 30%;
    cursor: pointer;
}