<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='blue-lock.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='Smasduq.png') }}" type="image/png">
    <title>Smasduq - Download Blue Lock Clips</title>
</head>
<body>
    <h1>BLUE LOCK</h1>
    <p>Blue Lock anime clip</p>
    <label for="btn1">Blue Lock Season 2 Episode 14 Twixtor:</label>
    <br>
    <a href="https://drive.google.com/uc?export=download&id=1y69B0f689qpY0whhw9v6_MqJ2v3gJMr7"><button class="d-btn" id="btn1">
        <span>Download the ZIP file</span>
        <i class="fa-solid fa-download fa-2x"></i>
    </button></a>
</body>
</html>