<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='hancock-an.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='Smasduq.png') }}" type="image/png">
    <title>Smasduq - Download Boa Hancock Clips</title>
</head>
<body>
    <h1>BOA HANCOCK</h1>
    <p>Boa Hancock anime clip</p>
    <label for="btn1">Boa Hancock Mix Twixtor:</label>
    <br>
    <a href="https://drive.google.com/uc?export=download&id=1pR397bAFpI52M-EPMAu32R7aLGN2Oc9F"><button class="d-btn" id="btn1">
        <span>Download the ZIP file</span>
        <i class="fa-solid fa-download fa-2x"></i>
    </button></a>
</body>
</html>