<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='muzan-an.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='Smasduq.png') }}" type="image/png">
    <title>Smasduq - Download Muzan anime Clips</title>
</head>
<body>
    <h1>KIBUTSUJI MUZAN</h1>
    <p>Kibutsuji Muzan anime clips</p>
    <label for="btn1">Muzan mix Twixtor:</label>
    <br>
    <a href="https://drive.google.com/uc?export=download&id=1krspOMy3coEgf-Hb9bvdPePj8JjfrW7L"><button class="d-btn" id="btn1">
        <span>Download the ZIP file</span>
        <i class="fa-solid fa-download fa-2x"></i>
    </button></a>
</body>
</html>