<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='solo-leveling.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='Smasduq.png') }}" type="image/png">
    <title>Smasduq - Download Solo leveling anime Clips</title>
</head>
<body>
    <h1>SOLO LEVELING</h1>
    <p>Solo leveling anime clip</p>
    <a href=""><button class="d-btn">
        <span>Download the ZIP file</span>
        <i class="fa-solid fa-download fa-2x"></i>
    </button></a>
    <p>COMING SOON...</p>
</body>
</html>