<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='sukuna-mg.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='Smasduq.png') }}" type="image/png">
    <title>Smasduq - Download Sukuna Manga Clips</title>
</head>
<body>
    <h1>SUKUNA</h1>
    <p>Sukuna manga animation clip</p>
    <a href="https://drive.google.com/uc?export=download&id=1-yHoRZxalnFlGNG-qVA6E9iMz2jOyOUx"><button class="d-btn">
        <span>Download the ZIP file</span>
        <i class="fa-solid fa-download fa-2x"></i>
    </button></a>
</body>
</html>