<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='tanjiro-an.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='Smasduq.png') }}" type="image/png">
    <title>Smasduq - Download Tanjiro anime Clips</title>
</head>
<body>
    <h1>KAMADO TANJIRO</h1>
    <p>Kamado Tanjiro anime clip</p>
    <label for="btn1">Tanjiro X Nezuko:</label>
    <br>
    <a href="https://drive.google.com/file/d/1b7Zbi--qHqAt8XUJTq4HHtozGJdVXuc8/view?usp=drivesdk"><button class="d-btn" id="btn1">
        <span>Download the ZIP file</span>
        <i class="fa-solid fa-download fa-2x"></i>
    </button></a>
</body>
</html>