<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="120">
    <meta name="description" content="Download Anime, Manga and Cars clips for edit.">
    <meta name="keywords" content="smasduq, anime, manga, edit, edits, car, cars, clip, clips, gojo, sukuna, luffy, zoro, sung, jin, woo, solo, levelling, jjk, Smasduq, TheOnlySmasduq, BMW, mercedes, toyota, background, for, alight, motion, xml">

    <link rel="stylesheet" href="{{ url_for('static', filename='xml-1.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Smasduq.png') }}" type="image/png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <title>Smasduq - Download XML</title>
</head>
<body>
    <header>
        <nav>
            <label id="logo">TheOnlySmasduq</label>
            <div class="ham-menu navbar-toggler" type="button">
                <span></span>
                <span></span>
                <span></span>
                <div class="off-screen-menu">
                    <ul>
                        <li><a href="{{ url_for('home')}} ">Home</a></li>
                        <li><a href="{{ url_for('download') }}">Download</a></li>
                        <li><a href="{{ url_for('contact') }}">Contact</a></li>
                        <li><a href="{{ url_for('support') }}">Support</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <h1 class="tit">ALIGHT MOTION XMLs</h1>
        <input type="search" id="search" placeholder="Search">
        <div class="all" id="all1">
            <p>COMING SOON...</p>
        </div>
    </main>
    

    <script>
        const shownav = document.querySelector('.ham-menu');

        const nav = document.querySelector('.off-screen-menu');

        const main = document.querySelector('.all'); 

        const menuLinks = document.querySelectorAll('.off-screen-menu a'); 

        shownav.addEventListener('click', () =>  {
            shownav.classList.toggle('active');
            nav.classList.toggle('active');

            if (main.style.display === 'none') {
                main.style.display = 'grid';
            } else {
                main.style.display = 'none';
            }
        });

        menuLinks.forEach(link => {
            link.addEventListener('click', () => {
                setTimeout(() => {
                    shownav.classList.remove('active');
                    nav.classList.remove('active');
                    main.style.display = 'block';
                }, 1);
                
            });    
        });

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='download.js') }}" defer></script>
</body>

</html>
