<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='xml-1.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Smasduq.png') }}" type="image/png">
    <title>Redirect - Football</title>
    <style>
        #continue {
            display: none;
        }
    </style>
</head>
<body>
    <h1>Wait for <span id="count">5</span> second(s)</h1>
    <button onclick="cancelRedirect()" class="c-btn">Cancel</button>
    <button id="continue" onclick="continueRedirect()" class="co-btn">Continue</button>
    <p id="message"></p>
    <script>
        let second = 5;
        let redirect = true;
        const targetURL = "{{ url_for('xml') }}"

        function countdown() {
            counter = document.getElementById("count");
            if (second > 0 && redirect) {
                counter.textContent = second;
                second--;
                setTimeout(countdown, 1000);
            } else if (redirect) {
                window.location.href = targetURL
            }
        }

        function cancelRedirect() {
            redirect = false;
            document.getElementById("message").innerText = "Redirect cancelled.";

            document.getElementById("continue").style.display = "inline-block";
        }

        function continueRedirect() {
            window.location.href = targetURL;
        }

        window.onload = countdown;
    </script>
</body>

</html>
